
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body { 
    width: 100%;

    #root { 
        width: 100%;
        div {
            width: 100%;
            display: flex;
            flex-direction: column;
            .about {
                width: 100%;
                height: auto;
                position: relative;
                margin: 0;
                border: none;
                padding: 0;
                img {
                    width: 100%;
                    

                }
                .itemsAbout{

                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    display: flex;
                    flex-direction: column;
                    align-items: center;

                    h1{
                        font-size: 7em;
                        color: rgb(194, 202, 243);
                        margin-bottom: 2em;
                    }
                    button{
                        padding: 0.5em;
                        border-radius: 10px;
                        background-color: rgb(192, 130, 16);
                        font-size: 3em;
                        width: 50%;
                        color: white;
    
                    }

                }
                

            }

        }

    }

}